        #headercontainer {height: 180px;line-height: 180px;min-width: 1400px; margin: -8px;
            background: linear-gradient(to bottom, #2E3192 0%, #1bb3ff 50%, #58ffff 80%, white 100%);}
        #headercontainer #navigationContainer {text-align: center;margin: 0 auto;}
        #headercontainer a {font-size: 20px;color: beige;text-decoration: none;margin: 0 50px;transition: color 0.3s;
            text-shadow: -1px -1px 2px #000, 1px -1px 2px #000, -1px 1px 1px #000, 1px 1px 1px #000;}
        #headercontainer a:hover {color: #73d0ff;}
        #headercontainer img {margin-bottom: 22px;vertical-align: middle;}


        #CommunityLine {min-width: 1400px;}
        #CommunityPage{max-width: 900px;
            display: flex;flex-direction: column;
            margin: 50px auto;
            background-color: white;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            overflow: hidden;
        }
        #CommunityPage a {text-decoration: none;color: black;}
        #CommunityPage a:hover {text-decoration: underline;}

        h2 {
            font-size: 30px;
        }

        table {caret-color: transparent;
            width: 85%;
            margin: 0 auto;
            border-collapse: collapse;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: white;
        }
        th {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: left;
            background-color: #333;
            color: white;
        }
        td{
            border: 1px solid #ddd;
            border-left: none;
            border-right: none;
            padding: 12px;
        }
        .pagination {
            display: flex;
            justify-content: center;
            margin: 20px;
            margin-bottom: 70px;
        }
        .pagination a {
            color: #333;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
            margin: 0 4px;
        }
        .pagination a.active {
            background-color: #4CAF50;
            color: white;
        }
        .pagination a:hover:not(.active) {
            background-color: #ddd;
        }
        .community-buttons button {
            background-color: transparent;
            padding: 15px;
            border-bottom: none;
            border-left: none;
            border-right: none;
            border-radius: 4px;
            cursor: pointer;
        }
        #FooterLine {min-width: 1400px;height: 180px;
            margin: auto;background-color: gray }
        #FooterPage { height: 180px;}